  .top-header {
    display: flex;
    padding: 15px, 0, 0;
    margin: 0, auto;
    background-color: white;
    height: 110px;

    .header-bar {
      box-sizing: border-box;
      margin: 15px auto;
      width: 100%;
      max-width: 1040px;
      min-width: 82px;

      &__upper-side {
        align-items: center;
        display: flex;
        padding-bottom: 10px;
        &__main-icon {
          .main-logo-icon {
          width: 140px;
          }
        }
        &__search-word-input-form {
          height: 36px;
          width: 100%;
          display: flex;
          margin-left: 30px;
          text-align: left;

          .input-form {
            display: flex;
            width: 100%;
          }
          .submit-btn {
            box-sizing: border-box;
            height: 36px;
            width: 36px;
            background-color: transparent;
            position: relative;
            font-size: 0px;
            background-color: #3CCACE;
            .submit-btn-icon {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 3px;
              top: 3px;
              z-index: 1;
              pointer-events: none;
            }
          }
        }
      }
    
      .header-bar__menu-bar {
        height: 40px;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        a{
          text-decoration: none;
          color: darkslategrey;
          font-weight: bold;
          transition: 0.2s ;
        }
        a:hover{
          color: #12acf6;
        }
        .left {
          display: flex;
          justify-content: left;
          text-align: left; 
        }
        &__left-side{
          display: flex;
          justify-content: start;
          &__category-box{
            height: 100%;
            width: 150px;
            margin-left: 30px;
            li.list {
              position: relative;
              list-style: none;
              z-index: 10;
                a{
                  span{
                  &:hover {
                  color: #0095EE;
                    }
                  }
                }
                ul.category1{
                  display: none;
                  box-sizing: border-box;
                  background-color: rgb(255, 255, 255);
                  width: 210px;
                  line-height: 30px;
                  list-style: block;
                  text-align: center;
                  cursor: pointer;
                  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                  font-size: 15px;
                  li.parent__list {
                    &:hover {
                    background-color: #4ae20e;
                    a {
                      color: #fff;
                      display: block;
                    }
                    }
                    ul.category2{
                      display: none;
                      background-color: rgb(255, 255, 255);
                      bottom: 0px;
                      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                      display: none;
                      left: 210px;
                      line-height: 30px;
                      position: absolute;
                      top: 20px;
                      width: 210px;
                      cursor: pointer;
                      text-align: center;
                      li.child__list {
                        background-color: rgb(255, 255, 255);
                        &:hover {
                          background-color: #ea352d;
                        }
                        a{
                          color:#000;
                        }
                        ul.category3{
                          display: none;
                          background-color: rgb(255, 255, 255);
                          bottom: 0px;
                          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                          display: none;
                          left: 210px;
                          position: absolute;
                          top: 0px;
                          width: 270px;
                          cursor: pointer;
                          text-align: center;
                          li.grandchild__list{
                            background-color: rgb(255, 255, 255);
                            a{
                              color:#000;
                            }
                          }
                          li{
                            &:hover {
                            background-color: #0095EE;
                            a {
                              color: #fff;
                            }
                            }
                          }
                        }
                      }
                      li{
                        &:hover {
                        background-color: #ea352d;
                        a {
                          color: #fff;
                        }
                        }
                      }
                    }
                  }
                }
              
            }
          }
        }
      }
          .brand-tab{
            padding-right: 30px;
            list-style: none;

            .menu-bar__brand {
              color: #000000;
              text-decoration: none;
            }

          }
        }
        &__right-side {
          display: flex;
          justify-content: right;

          .login-tab {
            padding-left: 30px;

            .menu-bar__log-in {
              color: #000000;
              text-decoration: none;
            }

          }
          .new-member-registraion-tab {
            padding-left: 30px;

            .menu-bar__new {
              color: #000000;
              text-decoration: none;
            }
            }
           }
         }
