
.products_buy {
  background-color: #f5f5f5;
  margin: unset;
  .header {
    height: 128px;
    width: 100%;
    &__title {
      height: 128px;
      text-align: center;
      &-image {
        margin-top: 40px;
        width: 185px;
        height: 49px;
      }
    }
  }

  .main_contents{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    .verification {
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    .product_details {
      height: 150px;
      .main {
        display: flex;
        align-items: center;
        padding-left: 140px;
        height: 150px;
        background-color: #fff;
        .image {
          .product {
            width: 100px;
          }
        }
        .details {
          margin-left: 30px;
        }
      }
    }
    .purchase_registration {
      .purchase_registration_main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: bold;
        width: 700px;
        background-color: #fff;
        height: 100px;
        .payment {
          font-size: 18px;
        }
        .amount {
          font-size: 25px;
        }
      }
      .purchase_function {
        .credit_card_info_title {

          .credit_card_info {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 385px;
            border: solid #3CCACE 1px;
            border-radius: 20px;
            margin: 0 20px;
            padding: 0 20px;

            &__brand {
              padding-right: 20px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              &__img {
                height: 50px;
              }
            }
            &__numbers {
              height: 100px;
              padding-right: 60px;
              vertical-align: middle;
              display: inline;

              .number {
                font-size: 25px;
                text-align: center;
                line-height: 50px;
                display: inline;
                vertical-align: middle;
              }
              .expiration_date {
                display: flex;
                justify-content: left;
                align-items: center;
                &__title {
                  font-size: 20px;
                  padding: 10px;
                }
                &__info {
                  font-size: 22px;
                  padding: 10px;

                }
              }
            }
          }
        }

        &__btn {
          height: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn {
            background-color: gray;
            height: 45px;
            width: 300px;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.footer {
  height: 280px;
  &-block {
    width: 456px;
    margin: 0px auto;
    padding: 50px 0;
    &__nav {
      ul {
        display: flex;
        justify-content: space-evenly; 
        li {
          display: block;       
        }
        .info {
          color: #333;
          font-size: 13px;
        }
      }
    }
    &__logo {
      text-align: center;
      &-image {
        margin-top: 30px;
        width: 12%;
        height: auto;
      }
      .notice {
        font-size: 13px;
        color: #888;
      }
    }
    .copyright {
      text-align: center;
      font-size: 13px;
    }
  }
}