.card
  %ul.list
    %li.pay  
      支払い方法
  %ul.pay-card
    %li.card-list 
      クレジットカード一覧 
  %ul.pay-add
    %li.card-add
      = link_to new_credit_card_path, class: "card-add-btn" do 
        クレジットカードを追加する
  .payment-details 支払い方法について ＞

