.side-bar
  %ul.mymenu
    %li.mypage マイページ
    %li.menu お知らせ
    %li.menu やることリスト
    %li.menu いいね！一覧
    %li.menu 出品する
    %li.menu 出品した商品-出品中
    %li.menu 出品した商品-取引中
    %li.menu 出品した商品-売却済み
    %li.menu 購入した商品-取引中
    %li.menu 購入した商品-過去の取引
    %li.menu ニュース一覧
    %li.menu 評価一覧
    %li.menu ガイド
    %li.menu お問い合わせ
  %ul.pay
    %li.mypay ペイ
    %li.menu 売上・振込申請
    %li.menu ポイント
  %ul.setting
    %li.mysetting 設定
    %li.menu プロフィール
    %li.menu 発送元・お届け先住所変更
    = link_to "users/users/card", class: "card-btn" do
      支払い方法
    %li.menu メール・パスワード
    %li.menu 本人情報
    %li.menu 電話番号の確認
    = link_to "users/users/logout", class: "logout-btn" do
      ログアウト