.top-header {
  padding: 15px, 0, 0;
  display: flex;

  .header-bar {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    min-width: 82px;

    &__upper-side {
      align-items: center;

      &__main-icon {
        display: inline-block;

        .main-logo-icon {
        height: 55px;
        width: 140px;
        }
      }
      &__search-word-input-form {
        display: inline-block;
        margin-left: auto;

        .input-form {
          text-align: center;
          width: calc(100%-36px);
        }
        .subit-btn {
          background-color: #3CCACE;
          box-sizing: border-box;
          height: 36px;
          width: 36px;
          .submit-btn-icon {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  
    .header-bar__menu-bar {
      display: flex;
      justify-content: space-between;

      &__left-side {
        display: flex;
        justify-content: left; 
        
        .category-tab{
        display: inline-block;

        }
        .brand-tab{
          display: inline-block;

        }
      }
      
      &__right-side {
        display: flex;
        justify-content: right;

        .rogin-tab {
          display: inline-block;

        }
        .new-member-registraion-tab {
          display: inline-block;

        }
      }
    }
  }
}