.main-title {
  background-image: url("material/pict/bg-mainVisual-pict_pc.jpg");
  width: 100%;
  height: 560px;
  background-size: cover;
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0 60px;
  display: flex;
  box-sizing: border-box;

  .content {
    &__caption {
      font-size: 60px;
      color: #ffffff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

    }
    &__catch-copy {
      &__sentence {
        color: #ffffff;
        font-size: 18px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

      }

    }
      
    .link-logos{
      .link-logo {
        display: flex;
        justify-content: left;
        margin-top: 24px;

        &__app-store {
          margin-right: 10px;

        }
        &__google-play {
          margin-right: 10px;

        }
      }
    }
  }
}