.pick-up-brand {
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 80px 0 0;
  padding-bottom: 80px;
  height: 100%;

  .pick-up__title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  .pick-up__box {
    .pick-up__box__title {
      text-align: center;
      color: #3ccace;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      .pick-up_brand_title {
        color: #3ccace;
        text-decoration: none;
      }

    }
    .productlists {
      display: flex;
      justify-content: center;
      margin: 26px auto;

      .product {
        background-color: #ffffff;
        width: 220px;
        margin: 0 20px;
        text-decoration: none;
        color: #000000;

        .product__image{
          width: 220px;
          height: 150px;
        }
        .detail {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          font-size: 16px;



          .product__content{
            .product__name{
              text-align: left;
              overflow: hidden;
              text-decoration: none;
            }
          }
          .product__price {
            .product__price__tax {
              font-size: 10px;
   
            }
          }
          .product__evaluation {
            display: flex;
            justify-content: right;
            margin: auto 0;
          }
        }
      } 
    }
  }
}