= link_to "", class: "exhibition-button" do
  .exhibition-btn
    %span.exhibition-btn__text
      出品する
    .exhibition-btn__img
      = image_tag "material/icon/icon_camera.png", alt: "カメラマーク", width: "60%"