.top-header
  .header-bar
    .header-bar__upper-side
      .header-bar__upper-side__main-icon
        = link_to image_tag('material/logo/logo.png', alt: "FURIMA-icon", class: 'main-logo-icon'), ""
      .header-bar__upper-side__search-word-input-form
        %input.input-form{name: "search-word", placeholder: "キーワードから探す"}
        %button.subit-btn{type: 'submit'}
          .submit-btn-icon
            = image_tag src='material/icon/icon-search1.png', alt: 'sending-btn', height: '100%', width: '100%'
    .header-bar__menu-bar
      %ul.header-bar__menu-bar__left-side
        %li.category-tab
          カテゴリー
        %li.brand-tab
          ブランド
      %ul.header-bar__menu-bar__right-side
        %li.rogin-tab
          = link_to "ログイン", ""
        %li.new-member-registraion-tab
          = link_to "新規会員登録", ""



