.main-title
  .main-title__caption
    人生を変えるフリマアプリ
  .main-title__catch-copy
    %ul
      %li.main-title__catch-copy__sentence
        FURIMAは誰でも簡単に出品・購入できる
      %li.main-title__catch-copy__sentence
        フリマアプリです。
  .link-logos
    .link-logo
      %ul
        %li.link-logo__app-store
          = link_to image_tag('material/icon/appstore-lrg.svg', alt: "appleStore-icon", class: 'appleStore-logo-icon'), ""
        %li.link-logo__google-play
          = link_to image_tag('material/icon/google-play-badge.png', alt: "googleApp-icon", class: 'googleApp-logo-icon'), ""
