.main-title
  .main-title__caption
    人生を変えるフリマアプリ
  .main-title__catch-copy
    %ul
      %li.main-title__catch-copy__sentence
        FURIMAは誰でも簡単に出品・購入できる
      %li.main-title__catch-copy__sentence
        フリマアプリです。
  .link-logos
    .link-logo
      %ul
        %li.link-logo__app-store
          = link_to image_tag('material/icon/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', alt: "appleStore-icon", class: 'appleStore-logo-icon'), ""
        %li.link-logo__google-play
          = link_to image_tag('material/icon/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', alt: "googleApp-icon", class: 'googleApp-logo-icon'), ""
