.middle-links
  .middle-links__content
    .middle-links__content__title
      会員数日本１位
    .middle-links__content__sentence
      FURIMAは、フリマアプリで最も人気。
      出品・購入回数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
  .link-logos
    .link-logo
      %ul
        %li.link-logo__app-store
          = link_to image_tag('material/icon/appstore-lrg.svg', alt: "appleStore-icon", class: 'appleStore-logo-icon'), ""
        %li.link-logo__google-play
          = link_to image_tag('material/icon/google-play-badge.png', alt: "googleApp-icon", class: 'googleApp-logo-icon'), ""
