.top-introduction
  .title
    .title__sentence
      FURIMAが選ばれる理由
  .contents
    %ul
      %li.content
        .content__image
          .content__number
            1
        .content__title
          %span.enphasis-phrase
            3分
          ですぐに出品
        .content__detail
          スマホで入力するだけで簡単に出品できる！

      %li.content
        .content__image
          .content__number
            2
        .content__title
          %span.enphasis-phrase
            シンプル
          で使いやすい
        .content__detail
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.content
        .content__image
          .content__number
            3
        .content__title
          手数料
          %span.enphasis-phrase
            業界最安値
        .content__detail
          最大3%でお得に出品&購入！




