.card
  %ul.list
    %li.pay  
      支払い方法
  %ul.pay-card
    %li.card-list 
      クレジットカード一覧 
  %ul.pay-add
    %li.card-add
      %a.noline{:href => "users/card_add"} クレジットカードを追加する
  .payment-details 支払い方法について ＞

