.header
  .menu
    .logo
      = image_tag(image_path('material/logo/logo.png'), class: 'logo1')
    .input-box
      %input{type: 'text', class: 'keyword_search', placeholder: 'キーワードから探す',}
      %input{alt: "seachbtn", class: 'search_btn', image_path("material/icon/icon-search1.png"), :type => "image"}
  .navigation
    %nav
      %ul.main-navi
        %li カテゴリー
        %li ブランド
        %li いいね
        %li お知らせ
        %li やることリスト
        %li マイページ



