.main_page
  .up_content
    .icon
      = image_tag src='/assets/member_photo_noimage_thumb.png', class: 'logo2'
    .info
      %p お知らせ
      %p やることリスト
      .message
        %p 事務局から個別メッセージ「ログイン通知」
        %p 一覧を見る

  .under_content
    .transaction
      %p 購入した商品
      %p 取引中
      %p 過去の取引

  