// --------------------- カテゴリー一覧 --------------------- //
.categories {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0;

  &__head {
    padding: 8px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &__link {
      min-width: 80px;
      height: 40px;
      margin: 5px;
      padding: 0 30px;
      background-color: $white;
      box-shadow: 1px 1px 1px 1px rgba(14, 14, 14, 0.0580392);
      border-radius: 4px;
      color: $black;
      line-height: 40px;

      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }

  &__box {
    width: 100%;
    margin-top: 30px;

    &__list {
      width: 100%;
      margin-top: 40px;

      &:first-of-type {
        margin-top: 0;
      }

      &__head {
        width: 100%;
        height: 40px;
        padding: 0 30px;
        background-color: $red;
        border-radius: 4px 4px 0 0;
        color: $white;
        font-size: 22px;
        font-weight: bold;
        @include flex-vertical-center;
      }

      &__content {
        width: 100%;
        padding: 24px 30px 10px;
        background-color: $white;
        border-radius: 0 0 4px 4px;

        &__subhead {
          padding: 15px 0 5px;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
        }

        &__subboox {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
          padding: 0 20px 10px;
        }
      }
    }
  }

  &__link-box {
    width: 50%;
    height: 16px;
    margin: 8px 0;
    font-size: 0;
  }

  &__link-individual {
    color: $light-blue;
    font-size: 16px;
    line-height: 1;
    @include hover;
  }
}

// --------------------- 個別カテゴリー --------------------- //
.category {
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;

  &__children {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &__link {
      margin: 16px 16px 0 0;
      color: $light-blue;
      font-size: 14px;
      line-height: 1;
      @include hover;
    }
  }

  &__head {
    margin: 24px 0 8px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .card {
    width: 188px;
    height: 298px;
    margin: 0 0 20px 20px;

    &:nth-of-type(6n+1) {
      margin-left: 0;
    }

    &__photo {
      height: 188px;
    }
  }

  &__label {
    width: 100%;
    padding: 16px 0;
    background-color: $red;
    border-radius: 4px;
    color: $white;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
}