.exhibition-button {
  color: #ffffff;
  text-decoration: none;
  
  .exhibition-btn{
    background-color: #3ccace;
    width: 120px;
    height: 120px;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 10px;
    text-align: center;
    border-radius: 4%;
    box-sizing: border-box;
    
    .exhibition-button {
      .exhibition-btn__text {
        font-size: 20px;
        padding-bottom: 5px;
      }
      .exhibition-btn__img {
      }
    }
  }
}