.characteristic
  .title
    .title__sentence
      FURIMAの特徴
  
  %ul.contents
    %li.content
      .content__image
        = image_tag "material/icon/icon-01.png", alt: "売り買いをする様子のイラスト", width: "210"
      .content__title
        簡単に売り買いできる
      .content__detail
        スマホひとつで、いつでもどこでも簡単に
        %br
        出品・購入が可能！

    %li.content
      .content__image
        = image_tag "material/icon/icon-03.png", alt: "振込をする様子のイラスト", width: "210"
      .content__title
        売上金は即日振込みに対応
      .content__detail
        午前9時までに振込を依頼いただければ、
        %br
        翌日に指定の口座に入金いたします!

    %li.content
      .content__image
        = image_tag "material/icon/icon-04.png", alt: "支払い方法のイラスト", width: "210"
      .content__title
        様々な支払いに対応
      .content__detail
        お支払いは、クレジットカードだけでなく、
        %br
        ポイントや売上金など多彩な方法があります。