* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.progress {
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  &-bar{
    margin: 0;
    li {
      margin: 0 40px 0 0;
      padding: 0;
      position: relative;
      z-index: 40;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: gray;
      .progress-status {
        position: absolute;
        left: 40%;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: gray;
        border-radius: 50%;
        z-index: 2;
      }
    }
  }
}

.progress-status_bar {
  position: absolute;
  left: 43%;
  top: 31px;
  bottom: 5px;
  display: block;
  width: 120px;
  height: 2px;
  background: grey;
  z-index: 1;
}

.end .progress-status_bar {
  width: 0px;
}

.registration {
  color: #ea352d !important;
  .progress-status {
    background: #ea352d !important;
  }
}

#registration .progress-status_bar {
  background: #ea352d;
}

.address_info {
  color: #ea352d !important;
  .progress-status {
    background: #ea352d !important;
  }
}

#address .progress-status_bar {
  background: #ea352d;
}

#done {
  color: #ea352d;
  .progress-status {
    background: #ea352d;
  }
}

.sign_up {
  background-color: #f5f5f5;
  margin: unset;
  .header {
    height: 128px;
    width: 100%;
    &__title {
      height: 128px;
      text-align: center;
      &-image {
        margin-top: 40px;
        width: 185px;
        height: 49px;
      }
    }
  }
  .form {
    width: 700px;
    height: 100%;
    min-height: 400px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    .form_width {
      width: 500px;
      margin: 0 auto;
    }
    &__upper {
      h2 {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }
    }
    &__lower {
      padding: 40px 40px 64px 40px;
      border-top: 1px solid #f5f5f5;
      .lower-contents {
        max-width: 350px;
        margin: 0 auto;
        text-align: left;
      }
      .content {
        text-align: center;
        h1 {
          font-size: 30px;
          margin-bottom: 100px;
        }
      }
      &-group {
        margin-top: 32px;
        .has-error {
          .help-block {
            display: block;
            color: red;
            font-size: 14.5px;
            font-weight: lighter;
          }
        }
        .input-text {
          display: block;
          margin-top: 8px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          width: 100%;
        }
        .verification {
          font-size: 16px;
          font-weight: bold;
          color: black;
        }
        p {
          font-size: 14.5px;
          margin-top: 8px;
          color: #888;
        }
        .attention {
          margin-top: unset;
          margin-bottom: 8px;
        }
        .notice {
          margin-top: 12px;
        }
        label {
          margin: unset;
          font-weight: 600;
          font-size: 13px;
          display: inline;
          vertical-align: bottom;
        }
        &-number {
          width: 40% !important;
        }
        &-name {
          margin-right: 8px;
          width: calc(50% - 4px);
        }
        &--require {
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background: #ea352d;
        }
        &--any {
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background: blue;
        }
        &-card {
          width: 30% !important;
        }
        &--submit {
          color: #fff;
          background: #ea352d;
        }
      }
      &-group:first-child {
        margin: unset;
      }
      &-block {
        display: flex;
        &-select {
          margin: 8px 0 0;
          select {
            height: 48px;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        span {
          margin: 0 2px;
        }
        &.line {
          line-height: 62px;
        }
        .input-text {
          display: block;
          margin-top: 8px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
        }
      }
      &-sns {
        .box-facebook {          
          .btn {
            margin-top: 20px;
            width: 350px;
            height: 45px;
            font-size: 17px;
            background-color: #3CCACE;
            color: #fff;
            text-decoration: none;
          }
        }
        .box-google {
          .btn {
            margin-top: 20px;
            width: 350px;
            height: 45px;
            font-size: 17px;
            background-color: #3CCACE;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer {
    height: 100%;
    &-block {
      width: 456px;
      margin: 0px auto;
      padding: 50px 0;
      &__nav {
        ul {
          display: flex;
          justify-content: space-evenly; 
          li {
            display: block;       
          }
          .info {
            color: #333;
            font-size: 13px;
          }
        }
      }
      &__logo {
        text-align: center;
        &-image {
          margin-top: 30px;
          width: 12%;
          height: auto;
        }
        .notice {
          font-size: 13px;
          color: #888;
        }
      }
      .copyright {
        text-align: center;
        font-size: 13px;
      }
    }
  }
} 

// session_new
.main {
  width: 100%;
  height: 100%;
  .login-form {
    max-width: none;
    width: 456px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    &__upper {
      padding: 40px 64px;
      text-align: center;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      p {
        font-size: 14px;
        height: 14px;
        line-height: 14px;
      }
      a {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
        font-size: 14px;
      }
    }
    &__lower {
      border-top: 1px solid #eee;
      padding: 24px 64px 32px;
      text-align: left;
      &-group {
        margin: 24px 0 0;
        .input-text {
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        &-image {
          width: 300px;
          height: 74px;
        }
        &--submit {
          background: #ea352d !important;
          border: 1px solid #ea352d !important;
          font-size: 14px !important;
          border-radius: 0 !important;
          color: #fff;
        }
      }
      &-group:nth-child(4) {
        text-align: none;
      }
      &-group:nth-child(5) {
        margin-top: 40px;
      }
      a {
        text-decoration: none;
        font-size: 14px;
      }
      &-sns {
        .box-facebook {          
          .btn {
            margin-top: 20px;
            width: 330px;
            height: 45px;
            font-size: 17px;
            background-color: #3CCACE;
            color: #fff;
            text-decoration: none;
          }
        }
        .box-google {
          .btn {
            margin-top: 20px;
            width: 330px;
            height: 45px;
            font-size: 17px;
            background-color: #3CCACE;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}