.goods_form-image-box
  = form_with model:product, local:true do|f|
    =f.fields_for :images do |i|
      =i.file_field :images, class: "goods_form-image-box-file"
      %pre.goods_form-image-box-text
        = preserve do
          :escaped
          <div>ドラッグ&ドロップ</div>
          <div>またはクリックしてファイルをアップロード</div>