* {
  box-sizing: border-box;
}
.sign_up {
  background-color: #f5f5f5;
  margin: unset;
  .header {
    height: 128px;
    width: 100%;
    &__title {
      height: 128px;
      text-align: center;
      &-image {
        margin-top: 40px;
        width: 185px;
        height: 49px;
      }
    }
  }
  .form {
    width: 700px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    &__upper {
      h2 {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }
    }
    &__lower {
      padding: 40px 40px 64px 40px;
      border-top: 1px solid #f5f5f5;
      .lower-contents {
        max-width: 350px;
        margin: 0 auto;
        text-align: left;
      }
      &-group {
        margin-top: 32px;
        .input-text {
          display: block;
          margin-top: 8px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          width: 100%;
        }
        .verification {
          font-size: 16px;
          font-weight: bold;
          color: black;
        }
        p {
          font-size: 14.5px;
          margin-top: 8px;
          color: #888;
        }
        .attention {
          margin-top: unset;
          margin-bottom: 8px;
        }
        .notice {
          margin-top: 12px;
        }
        label {
          margin: unset;
          font-weight: 600;
          font-size: 13px;
          display: inline;
          vertical-align: bottom;
        }
        &-number {
          width: 25% !important;
        }
        &-name {
          margin-right: 8px;
          width: calc(50% - 4px);
        }
        &--require {
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background: #ea352d;
        }
        &--any {
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background: blue;
        }
        &-card {
          width: 30% !important;
        }
        &-submit {
          color: #fff;
          background: #ea352d;
        }
      }
      &-group:first-child {
        margin: unset;
      }
      &-block {
        display: flex;
        &-select {
          margin: 8px 0 0;
          select {
            height: 48px;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        span {
          margin: 0 2px;
        }
        &.line {
          line-height: 62px;
        }
        .input-text {
          display: block;
          margin-top: 8px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }
  .footer {
    height: 100%;
    &-block {
      width: 456px;
      margin: 0px auto;
      padding: 50px 0;
      &__nav {
        ul {
          display: flex;
          justify-content: space-evenly; 
          li {
            display: block;       
          }
          .info {
            color: #333;
            font-size: 13px;
          }
        }
      }
      &__logo {
        text-align: center;
        &-image {
          margin-top: 30px;
          width: 12%;
          height: auto;
        }
        .notice {
          font-size: 13px;
          color: #888;
        }
      }
      .copyright {
        text-align: center;
        font-size: 13px;
      }
    }
  }
} 

// session_new
.main {
  width: 100%;
  height: 100%;
  .login-form {
    width: 700px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
  }
}