.header
  = render 'products/shared/header'
.side-bar
  = render 'products/searches/form-bar'

.index-all
  .index__category
    .products-list
      .products-list__name
        検索結果
      - if @products.length == 0
        .search_nothing  
          条件に一致する商品はありません
      - else
        %ul.products
          - @products.each do |product|
            = render partial: 'products/shared/product', locals: { product: product }

.footer
  = render 'products/shared/footer'